/* CSS */

.button {
    -fx-font-size: 15pt;
}

.label{
    -fx-font-size:20pt;
    -fx-text-color: #0E1140;

}

.textflow {
    -fx-font-size: 15pt;
    -fx-text-color: #59052D;

}

.textfield {
        -fx-font-size: 17pt;


}






