/*font import*/
@font-face {
    font-family: 'SourceCodePro-Black';
    src: url('font/SourceCodePro-Black.ttf');
}


@font-face {
    font-family: 'SourceCodePro-VariableFont_wght';
    src: url('font/SourceCodePro-VariableFont_wght.ttf');
}

/*
@font-face {
  font-family: 'CourierPrime-Regular';
  src: url('font/CourierPrime-Regular.ttf');
}

@font-face {
  font-family: 'Chivo ExtraBold';
  src: url('font/Chivo-ExtraBold.ttf');

}*/

#titre {
    -fx-font-family: 'Source Code Pro Black';
    -fx-font-size: 20pt;
}

#sp {
    -fx-background: #024029;
    -fx-background-color: #024029;
}

/* classes*/
.button {
    -fx-font-size: 15pt;
    -fx-font-family: 'Source Code Pro ExtraLight';
}

.label{
    -fx-font-size:15pt;
    -fx-font-family: 'Source Code Pro ExtraLight';
    /*
    -fx-font-family: 'Courier Prime Regular';*/
}

.textFlow {
    -fx-font-size: 20pt;
    -fx-font-family: 'Source Code Pro ExtraLight';
}

.textField {
    -fx-font-size: 17pt;
    -fx-font-family: 'Source Code Pro ExtraLight';
}

.text {
    -fx-font-size: 17pt;
    -fx-font-family: 'Courier Prime Regular';
}

.scroll-pane {
   -fx-background: #d7d4d3;
   -fx-border-color: #d7d4d3;
}






