/*font import*/
@font-face {
  font-family: 'CourierPrime-regular';
  src: url("font/CourierPrime-Regular.ttf");
}

/* classes*/
.button {
    -fx-font-size: 15pt;
    -fx-font-family: 'CourierPrime-Regular';
}

.label{
    -fx-font-size:20pt;
    -fx-text-color: #0E1140;
    -fx-font-family: 'CourierPrime-Regular';
}

.textFlow {
    -fx-font-size: 15pt;
    -fx-text-color: #59052D;
    -fx-font-family: 'CourierPrime-Regular';
}

.textField {
    -fx-font-size: 17pt;
    -fx-font-family: 'CourierPrime-Regular';
}






